cursor { animation: blinker 1s steps(1) infinite; }
@keyframes blinker { 50% { opacity: 0; } }

pre, code { font-family: monospace; font-size: larger; background-color: black !important; color: white; padding: 4px; }

pre:has( code.language-mermaid ) { background-color: white !important; text-align: center; }
code.language-mermaid { background-color: white !important; }

error { text-decoration: red wavy underline; }

h4 { font-size: 0.9rem !important; font-weight: bold; }
blockquote.note-title > p:first-child { color: black; font-size: 0.9rem; }

img { max-width: 70%; }

rev { color: black; background: white; display: block; width: 100%; }

// weBASIC code highlighting
lno { color: #FAEBD7; }
keyw { color: #d2691e; text-transform: uppercase; }
var { color: #00CED1; }
str { color: #FFD700; }
cmt { color: #A9A9A9; }
num { color: #BA55D3; }
