cursor { animation: blinker 1s steps(1) infinite; }
@keyframes blinker { 50% { opacity: 0; } }

pre, code { font-family: monospace; font-size: larger; background-color: black !important; color: white; padding: 4px; }
pre.callout { color: gray; }
pre.callout b { color: yellow; }
pre.callout i { color: yellowgreen; font-style: normal; }

h4 { font-size: 0.9rem !important; font-weight: bold; }
blockquote.note-title > p:first-child { color: black; font-size: 0.9rem; }

img { max-width: 70%; }