$body-bgnd: black;
$body-fgnd: white;

body { background: $body-bgnd; color: $body-fgnd; }
.inverted { background: $body-fgnd; color: $body-bgnd; }

.fixed {
  width: 100%;
  position: fixed; left: 0;
  margin: 0; padding: 0;
  font-family: monospace;
}

#live-screen {
  height: 100%; top: 0;
  z-index: 100;
  display: none;
}

#dump-edit-panel {
  bottom: 0; z-index: 95;
}

#debug-panel {
  bottom: 0; z-index: 85;
}

.setup {
  position: fixed; left: 0; top: 0;
  text-align: center;
  font-family: monospace;

  button {
    width: 40%; height: 32pt;
    border-radius: 8pt;
    border: solid 4px white;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 8px auto;

    &:hover { border-color: lightgray; }
    &.alternate {
      background: black;
      border-color: gray;
      color: lightgray;

      &:hover { border-color: white; color: white; }
    }
  }
}

#setup-screen {
  width: 60%; height: 60%;
  padding: 20vh 20vw;
  background: black;
  z-index: 1000;
  display: none;

  h1 {
    font-weight: normal;
    font-size: 48pt
  }
}

#file-system-action {
  width: 40%; height: 20%;
  padding: 40vh 30vw;
  background: rgba(black, 0.5);
  z-index: 1001;
  display: none;

  button: { width: 70%; }
}

.chargrid {
  .cell {
    display: inline-block; margin: 0; padding: 0;
    text-align: center;
    text-decoration-skip-ink: none;
    position: relative;
    vertical-align: top;

    &.error {
      text-decoration: red underline wavy;
    }

    &.selected::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.5);
    }

    &.cursor::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 10%;
      left: 0;
      bottom: 0;
      background: white;
      animation: blinker 1s step-start infinite;
      mix-blend-mode: difference;
    }
    &.cursor.warn::after { height: 50%; }
    &.cursor.overwrite::after { height: 100%; }
  }
}

@keyframes blinker { 50% { opacity: 0; } }
